@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header__retour i {
  color: black;
  font-size: 26px;
  position: absolute;
  left: 30px;
  top: 25px;
}
.header__retour i:hover {
  transform: scale(1.05);
  text-shadow: 2px 2px 4px gray;
}

.image__restaurant {
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  width: 100%;
  height: 340px;
  overflow: hidden;
}
.image__restaurant img {
  z-index: -1;
  object-fit: cover;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: initial;
  margin: 25px 0 15px;
}
.header__logo img {
  width: 50%;
}

.footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  padding: 30px 20px 30px 40px;
}
.footer__titre {
  font-family: "Shrikhand", sans-serif;
  color: #d9d9d9;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 20px;
}
.footer__link {
  text-decoration: none;
  color: #d9d9d9;
  margin-bottom: 10px;
  font-size: 18px;
}
.footer__link i {
  font-size: 14px;
  width: 20px;
  margin-right: 5px;
}

.liste {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  background-color: #f7f7f7;
  border-radius: 45px;
  margin-top: -68px;
  padding: 20px 20px;
}
.liste__nomRest {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  font-size: 34px;
  font-weight: 500;
  font-family: "Shrikhand", sans-serif;
}
.liste__nomRest i {
  font-size: 26px;
  margin-top: 8px;
  margin-right: 20px;
  background: white;
  color: initial;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  transform: scaleY(1.2);
}
@media screen and (min-width: 826px) {
  .liste__nomRest i {
    margin-left: 300px;
  }
}
.liste__nomRest i:hover {
  cursor: pointer;
  animation: btn-aime 0.5s forwards linear;
}
.liste__section {
  padding-bottom: 20px;
}
@media screen and (min-width: 826px) {
  .liste__section {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    align-items: initial;
    flex-wrap: wrap;
  }
}
.liste__section__titre {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  font-size: 20px;
  font-weight: 500;
  color: #404040;
  margin-bottom: 25px;
  margin-left: 2px;
}
@media screen and (min-width: 826px) {
  .liste__section__titre {
    flex: 100%;
  }
}
.liste__section__titre::after {
  position: absolute;
  margin-left: 1px;
  color: #99E2D0;
  letter-spacing: -1px;
  content: "____";
  font-size: 30px;
  font-weight: bold;
}
.liste__section__choix {
  animation: volet 1s forwards;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  padding: 0 13px;
  overflow: hidden;
  height: 0;
}
.liste__section__choix:nth-child(2) {
  animation-delay: 0.25s;
}
.liste__section__choix:nth-child(3) {
  animation-delay: 0.5s;
}
.liste__section__choix:nth-child(4) {
  animation-delay: 0.75s;
}
.liste__section__choix:nth-child(5) {
  animation-delay: 1s;
}
@media screen and (min-width: 826px) {
  .liste__section__choix {
    width: 49%;
  }
}
@media screen and (min-width: 1225px) {
  .liste__section__choix {
    width: 32.5%;
  }
}
.liste__section__choix div:nth-child(1) {
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
}
.liste__section__choix__nom {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.liste__section__choix__info {
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.liste__section__choix__prix p {
  font-size: 18px;
  font-weight: bold;
  color: #404040;
  margin: 32px 15px 5px;
}
.liste__section__choix__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: white;
  transition: all 0.4s linear;
  width: 70px;
  height: 100%;
  font-size: 24px;
  margin-right: -83px;
  margin-left: 10px;
}
.liste__section__choix:hover {
  cursor: pointer;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}
.liste__section__choix:hover .liste__section__choix__icon {
  transition: all 0.4s linear;
  margin-right: -13px;
}
.liste__section__choix:hover .liste__section__choix__icon i {
  transition: all 0.3s linear;
  transition-delay: 0.2s;
  transform: rotate(360deg);
}
.liste__valider {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: initial;
  margin: 70px 0;
}
.liste__valider button {
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 20px;
  padding: 20px 60px;
  border-radius: 50px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.35);
}
.liste__valider button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.55);
}

@keyframes volet {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    height: 75px;
    opacity: 1;
  }
}
main:not(.liste) {
  position: absolute;
  animation: affichage 4s;
  animation-fill-mode: forwards;
  width: 100%;
}

.chargement {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: chargement-fin 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.chargement__bloc {
  animation: chargement 0.8s backwards infinite cubic-bezier(0, 0.5, 0.5, 1) alternate-reverse;
  margin: 0 2px;
}
.chargement__bloc--1 {
  animation-delay: 0.2666666667s;
  color: #9356DC;
  text-shadow: 3px 3px 4px #9356DC;
}
.chargement__bloc--2 {
  animation-delay: 0.5333333333s;
  color: #FF79DA;
  text-shadow: 3px 3px 4px #FF79DA;
}
.chargement__bloc--3 {
  animation-delay: 0.8s;
  color: #99E2D0;
  text-shadow: 3px 3px 4px #99E2D0;
}
.chargement__bloc::after {
  content: attr(data-miroir);
  position: absolute;
  top: 20px;
  left: 0;
  transform-origin: bottom;
  transform: rotateX(180deg);
  line-height: 0.9em;
  opacity: 0.4;
}

@keyframes chargement {
  0% {
    transform-origin: bottom;
    transform: scaleY(3);
  }
  50%, 100% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
}
@keyframes chargement-fin {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-9999px);
  }
}
@keyframes affichage {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
.localisation__form__recherche {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: initial;
  background-color: #ededed;
  padding: 20px 0;
  box-shadow: inset 0 8px 6px -6px #cccccc;
}
.localisation__form__recherche i {
  font-size: 20px;
  color: #4d4d4d;
  margin-right: 20px;
}
.localisation__form__recherche__info {
  border: none;
  background: transparent;
  color: #4d4d4d;
  font-size: 19px;
  font-weight: bold;
  width: 170px;
}
.localisation__form__recherche__info:active {
  border: none;
  outline: none;
}
.localisation__form__recherche__info:focus {
  border: none;
  outline: none;
}
.localisation__form__recherche__info:hover {
  border: none;
  outline: none;
}
.localisation__form__present {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.localisation__form__present__titre {
  font-size: 29px;
  font-weight: bold;
  text-align: center;
  padding: 0 30px;
}
.localisation__form__present__parag {
  font-size: 23px;
  font-weight: initial;
  text-align: center;
  color: #666666;
  margin-top: 0;
}
.localisation__form__present__envoyer {
  border: none;
  font-size: 20px;
  font-weight: initial;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 50px;
}
.localisation__form__present__envoyer:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

.fonctionnement {
  padding: 20px;
}
@media screen and (min-width: 600px) {
  .fonctionnement {
    padding: 20px 40px;
  }
}
@media screen and (min-width: 826px) {
  .fonctionnement {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
}
.fonctionnement__titre {
  font-size: 28px;
  font-weight: bold;
}
@media screen and (min-width: 826px) {
  .fonctionnement__titre {
    flex: 100%;
  }
}
.fonctionnement__choix {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  background: #f7f7f7;
  color: initial;
  margin: 30px 0 20px 15px;
  height: 85px;
  border-radius: 25px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 826px) {
  .fonctionnement__choix {
    width: 29%;
    margin: 30px 15px 20px 15px;
  }
}
.fonctionnement__choix__chiffre {
  background: #9356DC;
  color: white;
  padding: 8px 11px;
  border-radius: 20px;
  font-size: 14px;
  margin-left: -15px;
  margin-right: 30px;
}
@media screen and (min-width: 826px) {
  .fonctionnement__choix__chiffre {
    margin-right: 15px;
  }
}
.fonctionnement__choix__icon {
  background: initial;
  color: gray;
  font-size: 25px;
  margin-right: 30px;
}
@media screen and (min-width: 826px) {
  .fonctionnement__choix__icon {
    margin-right: 15px;
  }
}
.fonctionnement__choix__info {
  font-size: 20px;
  font-weight: bold;
}
.fonctionnement__choix:hover {
  background: #ece1f9;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.fonctionnement__choix:hover .fonctionnement__choix__icon {
  background: initial;
  color: #9356DC;
}

.restaurant {
  background-color: #f7f7f7;
  padding: 30px 20px 50px;
}
@media screen and (min-width: 600px) {
  .restaurant {
    padding: 30px 40px 50px;
  }
}
@media screen and (min-width: 826px) {
  .restaurant {
    padding: 30px 20px 50px;
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.restaurant__titre {
  font-size: 28px;
  font-weight: bold;
}
@media screen and (min-width: 826px) {
  .restaurant__titre {
    flex: 100%;
  }
}
.restaurant__choix {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  color: black;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 826px) {
  .restaurant__choix {
    width: 49%;
  }
}
.restaurant__choix:hover {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}
.restaurant__choix__image {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  position: relative;
  width: 100%;
  height: 210px;
}
.restaurant__choix__image img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.restaurant__choix__image__etiquette {
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  padding: 7px 16px;
  border-radius: 2px;
  background: #99E2D0;
  color: #278870;
}
.restaurant__choix:nth-child(3) img {
  object-position: 0 61%;
}
.restaurant__choix__nom {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
}
.restaurant__choix__quartier {
  font-size: 20px;
  font-weight: initial;
  margin-left: 10px;
  margin-top: 0;
}
.restaurant__choix__icon {
  margin-right: 30px;
  font-size: 25px;
  background: white;
  color: initial;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  transform: scaleY(1.2);
}
.restaurant__choix__icon:hover {
  animation: btn-aime 0.5s forwards linear;
}

@keyframes btn-aime {
  50% {
    opacity: 0.5;
  }
  100% {
    background: linear-gradient(#9356DC, #FF79DA);
    color: initial;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: inherit;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
