main:not(.liste) {
  position: absolute;
  animation: affichage 4s;
  animation-fill-mode: forwards;
  width: 100%;
}

.chargement {
  @include flexDir(initial, center, center);
  font-family: 'Shrikhand', sans-serif;
  font-size: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: chargement-fin 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

    &__bloc {
      animation: chargement $anim-dur backwards infinite cubic-bezier(0, 0.5, 0.5, 1) alternate-reverse;
      margin: 0 2px;
      @include bloc-animation;

        &::after {
          content: attr(data-miroir);
          position: absolute;
          top: 20px;
          left: 0;
          transform-origin: bottom;
          transform: rotateX(180deg);
          line-height: 0.90em;
          opacity: 0.4;
        }
    }
}


@keyframes chargement {
  0% {
    transform-origin: bottom;
    transform: scaleY(3);
  }

  50%, 100% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
}

@keyframes chargement-fin {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-9999px);

  }
}

@keyframes affichage {
  0% {
    transform: translateX(-9999px);
  }

  100% {
    transform: translateX(0);
  }
}