$L100: 100%;

$couleurs: (
        primaire: #9356DC,
        secondaire: #FF79DA,
        tertiaire: #99E2D0,
        noir: black,
        blanc: white,
        transparent: transparent,
);

$breakpoints: (
        tablette: 991px,
        mobile: 767px,
);

$statue: active, focus, hover;