// Variable Global

$couleurs: (
        primaire: #9356DC,
        secondaire: #FF79DA,
        tertiaire: #99E2D0,
        noir: black,
        blanc: white,
        transparent: transparent,
        degrade: linear-gradient(#FF79DA, #9356DC),
        degrade-inverse: linear-gradient(#9356DC, #FF79DA)
);

$breakpoints: (
        tablette-mini: 600px,
        tablette: 826px,
        ordinateur-grand: 1225px
);

$statue: active, focus, hover;


// Variable animation loader
$couleurs-anim: (
        1: #9356DC,
        2: #FF79DA,
        3: #99E2D0,
);

$nb-bloc: 3;

$anim-dur: .8s;

$anim-delay: $anim-dur / $nb-bloc;


// Variable animation menu

$nb-bloc-menu: 4;

$anim-dur-menu: 1s;

$anim-delay-menu: $anim-dur-menu / $nb-bloc-menu;